#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        Tab {
            bindings = <&kp TAB>;
            key-positions = <7 8>;
        };

        shift+tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <6 7 8>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        macro0: macro0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(RC(V)) &kp V &kp ENTER>;
            label = "MACRO0";
        };

        macro1: macro1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(H) &kp M &kp C &kp ENTER>;
            label = "MACRO1";
        };

        macro2: macro2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(G) &kp LA(S) &kp K &kp ENTER>;
            label = "MACRO2";
        };

        macro3: macro3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp D &kp F &kp S>;
            label = "MACRO3";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // 新しいスクロール動作の追加

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 6 Q    &kp W         &kp E         &kp R                      &kp T                                                          &kp Y        &kp U  &lt 5 I    &lt 3 O  &kp P
&kp A      &kp S         &kp D         &kp F                      &kp G        &none                              &kp ESCAPE     &kp H        &kp J  &lt 1 K    &kp L    &mt LCTRL MINUS
&kp Z      &kp X         &kp C         &kp V                      &kp B        &kp LG(LS(S))                      &kp DEL        &kp N        &kp M  &kp COMMA  &kp DOT  &mt LEFT_SHIFT SLASH
&kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &mt LEFT_SHIFT LANG_HANJA  &lt 1 SPACE  &lt_to_layer_0 5 LANG_HANGEUL      &kp BACKSPACE  &lt 2 ENTER                             &kp LCTRL
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        FUNCTION {
            bindings = <
&kp F1     &kp F2           &kp F3            &kp F4        &none                           &kp F6            &kp F7    &kp F8         &kp F9    &kp F10
&kp F5     &kp EXCLAMATION  &kp LS(NUMBER_6)  &kp QUESTION  &kp LS(N8)  &none       &none   &kp LEFT_BRACKET  &mkp MB1  &kp PAGE_UP    &mkp MB2  &kp SQT
&kp PLUS   &kp PERCENT      &kp AMPERSAND     &kp AT_SIGN   &none       &none       &none   &kp LS(INT1)      &kp INT3  &kp PAGE_DOWN  &trans    &kp F11
&kp LCTRL  &trans           &kp HASH          &trans        &trans      &trans      &trans  &trans                                               &kp F12
            >;
        };

        NUM {
            bindings = <
&kp ESCAPE         &kp N7             &kp N8        &kp N9        &kp MINUS                                &kp LS(TAB)  &mkp MB4        &none           &mkp MB5         &kp TAB
&kp DOUBLE_QUOTES  &kp N4             &kp N5        &kp NUMBER_6  &kp COLON      &none              &none  &kp LS(N9)   &mkp MB1        &kp UP_ARROW    &mkp MB2         &kp SQT
&kp SLASH          &kp NUMBER_1       &kp NUMBER_2  &kp NUMBER_3  &kp LS(MINUS)  &none              &none  &none        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LWIN
&mt LCTRL TAB      &mt LEFT_SHIFT N0  &kp DOT       &kp DELETE    &kp ENTER      &kp BACKSPACE      &none  &none                                                         &kp ESCAPE
            >;
        };

        ARROW {
            bindings = <
&none         &kp LG(LEFT_ARROW)      &kp LG(UP_ARROW)    &kp LG(RIGHT_ARROW)      &none                     &trans  &trans  &trans  &trans  &none
&kp LG(HOME)  &none                   &kp LG(DOWN_ARROW)  &none                    &none  &none      &none   &trans  &trans  &trans  &trans  &trans
&none         &kp LS(LG(LEFT_ARROW))  &kp LG(D)           &kp LS(LG(RIGHT_ARROW))  &none  &none      &trans  &trans  &trans  &trans  &trans  &trans
&none         &none                   &none               &none                    &none  &none      &trans  &trans                          &none
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&none  &none  &none  &none   &none                       &none   &none     &none  &none     &none
&none  &none  &none  &none   &none   &none       &none   &none   &mkp MB1  &none  &mkp MB2  &none
&none  &none  &none  &none   &none   &none       &none   &none   &none     &none  &none     &none
&none  &none  &none  &trans  &trans  &trans      &trans  &trans                             &none
            >;
        };

        SCROLL {
            bindings = <
&kp LS(F8)  &macro2    &trans            &kp LC(PAGE_UP)  &kp LC(PAGE_DOWN)                      &macro3  &kp LS(LC(L))  &none   &mkp MB2  &kp ESCAPE
&kp LC(P)   &kp LC(X)  &kp LS(LC(SEMI))  &kp LC(MINUS)    &kp LCTRL          &trans      &trans  &trans   &mkp MB1       &trans  &trans    &trans
&kp LC(Y)   &kp LC(C)  &macro0           &macro1          &trans             &trans      &trans  &trans   &trans         &trans  &trans    &trans
&kp LC(Z)   &trans     &trans            &trans           &trans             &trans      &trans  &trans                                    &kp LA(LC(DELETE))
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &kp C_BRI_UP  &kp C_VOL_UP  &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &kp C_BRI_DN  &kp C_VOL_DN  &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
